<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="crane">

<xacro:arg name="use_mock_hardware" default="true" />

<xacro:include filename="$(find crane_description)/urdf/crane/trolley_macro.xacro"/>
<xacro:include filename="$(find crane_description)/urdf/crane/hook_macro.xacro"/>
<xacro:include filename="$(find crane_description)/urdf/crane/spreader_macro.xacro"/>


    <joint name="trolley_hook_link" type="fixed">
            <parent link="Trolley_link"/>
            <child link ="swivel_top"/>
            <origin xyz ="0 0 0" rpy="0 0 0"/> 
    </joint>

    <joint name="trolley_spreader_link" type="fixed">
            <parent link="Trolley_link"/>
            <child link ="chassis_link"/>
            <origin xyz ="0 0 0" rpy="0 0 0"/> 
    </joint>


<xacro:include filename="$(find crane_description)/urdf/crane/crane_macro.ros2_control.xacro"/>

<xacro:crane/>
<xacro:crane_ros2_control use_mock_hardware="$(arg use_mock_hardware)" />
</robot>
