<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


    <xacro:macro name="hook">
        <link name = "swivel_top">
            <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            </collision>

            <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <material name="light_red"/>
            </visual>
        </link>
        <link name = "swivel_bottom">
            <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            </collision>

            <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <material name="light_red"/>
            </visual>
        </link>
        <joint name="swivel_joint" type="continuous">
            <parent link="swivel_top"/>
            <child link="swivel_bottom"/>
            <origin xyz="0 0 -0.1" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit effort="100" velocity="1.0"/>
        </joint>


        <link name = "Swivel_Tag"/>
        <joint name="swivel_bottom_tag_joint" type="fixed">
            <parent link="swivel_bottom"/>
            <child link ="Swivel_Tag"/>
            <origin xyz ="0.0 0.1 0" rpy="-${pi} 0 ${pi/2}"/> 
        </joint>
        
    </xacro:macro>
</robot>